#Ignore the api config file
__pycache__

*.swp
*.un~
*~
*.pyc
*/*.pyc
*.log
*.bat
*.pem
*.ppk
*.DAT
*.dat
*.spec
*.zip
*.docx
.idea/*
.idea
*.temp

docs/

report_templates/HTML/*.pdf
report_templates/HTML/*.temp
report_templates/latex_model
report_templates/HTML/vendor/*
report_templates/HTML/img/customer_logos/*.*

build/*
dist/*
