#Ignore the api config file
__pycache__
.vscode/
*cache.yaml
*.swp
*.un~
*~
*.pyc
config/api_config.yml
config/report_details.yml
*.yml
*.pdf
/*.tex
/report.*
*.docx
*.log
.idea/*
.idea
*.temp
report_templates/HTML/vendor/**/.git
report_templates/HTML/vendor/
report_templates/HTML/img/customer_logos/*.*
PRIVATE_key.pem
PUBLIC_key.pem
*.pem
*.ppk
*.DAT
*.dat
build/*
dist/*
*.spec
*.zip
*.txt
customer_details_cache.yml
!BPG_guide.pdf

data_packs/*
