<div class="page">
    <div class="trend-text-red trend-font-300" style="font-size: 30px; padding-top: 30px;">
        4. Appendix
    </div>


    <div class="trend-text-red trend-font-200" style="font-size: 24px; padding: 20px 0;">
        <a name="AdditionalExplanations">4.1 Additional Explanations</a>
    </div>

    <div class="row" style="padding: 15px 15px;">
        <div class="col-lg-12">
            <div class="trend-font-700 trend-text-grey-ultradark" style="margin: 0; font-size: 20px">
                <a name="appendix_compliancy_score"> How the conformity score is calculated</a>
            </div>
            <div class="trend-text-grey-dark trend-font-300" style="font-size: 12px; text-align:justify;">
                Each item checked weights from 0 to 10, representing the importance level of a given configuration. The weights used in the default checklists were defined by the mean score of the analysis made by the members of Trend Micro's engineering teams. 
                <br/>
                The overall conformity score is computed using the weighted average of each configuration checked for a given security module.
                The score of a computer or policy is then determined by the average of each of its modules checked.
                Computer group scores and the environment overall score are similarly calculated using the scores of all member computers.
                </div>
        </div>
    </div>

    <div class="row" style="padding: 15px 15px;">
        <div class="col-lg-12">
            <div class="trend-font-700 trend-text-grey-ultradark" style="margin: 0; font-size: 20px">
                <a name="appendix_compliancy_score"> How the top issues are ranked</a>
            </div>
            <div class="trend-text-grey-dark trend-font-300" style="font-size: 12px; text-align:justify;">
              The issues presented in the "Deep Security environment configurations"
              section are categorized in terms of their criticity and the number of occurrences found.
            </div>
        </div>
    </div>

    <div class="row" style="padding: 15px 15px;">
        <div class="col-lg-12">
            <div class="trend-font-700 trend-text-grey-ultradark" style="margin: 0; font-size: 20px">
                <a name="appendix_compliancy_score"> Note about scenario specific configurations </a>
            </div>
            <div class="trend-text-grey-dark trend-font-300" style="font-size: 12px; text-align:justify;">
              Some configurations like intrusion prevention and firewall rules can't be properly checked as they
               are exclusive to each occasion, meaning that it's strongly recommended to check them manually with a security expert.
            </div>
        </div>
    </div>

    <div class="row" style="padding: 15px 15px;">
        <div class="col-lg-12">
            <div class="trend-font-700 trend-text-grey-ultradark" style="margin: 0; font-size: 20px">
                <a name="appendix_compliancy_score"> Note about <span class="trend-text-grey-ultradark trend-font-700">no</span> contextual analysis </a>
            </div>
            <div class="trend-text-grey-dark trend-font-300" style="font-size: 12px; text-align:justify;">
             The checks made by this tool do not take into consideration any aspects of how the environment setup or even the hardware, 
              meaning that some of the detected issues may not be applicable or pose a threat to your environment. It is highly recommended 
              to study the recommendations and warnings given here and apply the ones that best fit your needs.
            </div>
        </div>
    </div>

    <div class="row" style="padding: 15px 15px;">
        <div class="col-lg-12">
            <div class="trend-font-700 trend-text-grey-ultradark" style="margin: 0; font-size: 20px">
                <a name="appendix_compliancy_score"> Plataform distribution </a>
            </div>
            <div class="trend-text-grey-dark trend-font-300" style="font-size: 12px; text-align:justify;">
             The platform distribution shown in the report is retrieved from the DSM, meaning that if no connectors
              are used, all agents will be reported as on-premise. 
            </div>
        </div>
    </div>

</div>
