<div class="page">
    <div class="trend-text-red trend-font-300" style="font-size: 30px; padding-top: 30px;">
        4. Appendix
    </div>


    <div class="trend-text-red trend-font-200" style="font-size: 24px; padding: 20px 0;">
        <a name="AdditionalExplanations">4.1 補足説明</a>
    </div>

    <div class="row" style="padding: 15px 15px;">
        <div class="col-lg-12">
            <div class="trend-font-700 trend-text-grey-ultradark" style="margin: 0; font-size: 20px">
                <a name="appendix_compliancy_score"> 適合スコアの計算方法</a>
            </div>
            <div class="trend-text-grey-dark trend-font-300" style="font-size: 12px; word-wrap: break-word;">
               本レポートで表記される適合スコアは、 特定の設定について重要度に応じて0〜10の重みづけを行って、 評価しました。 これらの重み付けは、 トレンドマイクロのエンジニアリングチームのメンバーによって行われた分析によって定義されています。 <br />
                また、 全体の適合スコアは、 Deep Securityの各セキュリティ機能の設定に対する適合スコアの平均として計算されます。 <br />
                コンピュータおよびポリシーのスコアは検査した各セキュリティ対策機能の平均スコアとして、 コンピュータグループと貴社環境全体のスコアは全コンピュータのスコアを使用して、 それぞれ計算されます。 
                </div>
        </div>
    </div>

    <div class="row" style="padding: 15px 15px;">
        <div class="col-lg-12">
            <div class="trend-font-700 trend-text-grey-ultradark" style="margin: 0; font-size: 20px">
                <a name="appendix_compliancy_score"> 「修正すべき問題トップ２０」のランク付け方法</a>
            </div>
            <div class="trend-text-grey-dark trend-font-300" style="font-size: 12px; word-wrap: break-word;">
                本レポートで提示した課題は、 重要度や出現回数の観点に基づいて分類されています。 
            </div>
        </div>
    </div>

    <div class="row" style="padding: 15px 15px;">
        <div class="col-lg-12">
            <div class="trend-font-700 trend-text-grey-ultradark" style="margin: 0; font-size: 20px">
                <a name="appendix_compliancy_score">貴社固有の設定に関する注意 </a>
            </div>
            <div class="trend-text-grey-dark trend-font-300" style="font-size: 12px; word-wrap: break-word;">
              侵入防御やファイアウォールのルールのように、 一部だけ設定が利用されるなど限定的な使われ方の場合、 適切な検査ができない可能性があります。 そのため、 セキュリティエキスパートと共に手動でそれらをチェックすることを推奨します。 
            </div>
        </div>
    </div>

    <div class="row" style="padding: 15px 15px;">
        <div class="col-lg-12">
            <div class="trend-font-700 trend-text-grey-ultradark" style="margin: 0; font-size: 20px">
                <a name="appendix_compliancy_score"> 分析結果に関する注意 <span class="trend-text-grey-ultradark trend-font-700">がない</span> コンテキスト分析 </a>
            </div>
            <div class="trend-text-grey-dark trend-font-300" style="font-size: 12px; word-wrap: break-word;">
            このレポートの評価結果は、 貴社環境でのハードウェアやインストール状況などは一切考慮されておりません。 いずれの推奨項目も汎用的な内容となっており、 検出結果によっては貴社環境に適用できない、 あるいは適用すると重大な問題を及ぼす可能性がありえます。 そのため、 このレポートに記載されている推奨事項と警告については詳細に検討した上で、 適切に適用いただくことを強く推奨します。 
            </div>
        </div>
    </div>

    <div class="row" style="padding: 15px 15px;">
        <div class="col-lg-12">
            <div class="trend-font-700 trend-text-grey-ultradark" style="margin: 0; font-size: 20px">
                <a name="appendix_compliancy_score"> プラットフォームの分布 </a>
            </div>
            <div class="trend-text-grey-dark trend-font-300" style="font-size: 12px; word-wrap: break-word;">
            本レポートに掲載したプラットフォームの分布は、 DSMから取得した情報に基づいています。 そのため、 各種コネクタを利用されていない場合、 各クラウドサービス上のコンピュータであっても、 すべてのAgentはオンプレミスとして表記されます。 
            </div>
        </div>
    </div>

</div>
