<div  style="position:fixed; bottom: 20px; left:0; z-index:1000;">
  <div class="trend-text-grey-dark trend-font-200" style="font-size:12px;">
    Created on {{report_options.generation_month}} {{report_options.generation_day}} of {{report_options.generation_date.year}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CONFIDENTIAL – Release Pursuant to NDA – CONFIDENTIAL
  </div>
  <div class="trend-text-red trend-font-200" style="font-size:12px;">
  JAPONESE DEV PREVIEW VERSION (v{{report_options.version}}) - MAY NOT BE REPRESENTATIVE OF THE FINAL PRODUCT
  </div>

</div>




<footer style="text-align:right;">
    <img src="img/page_templates/footer_hero_9.jpg" style="width:220px; margin-right: -5px; margin-top: -10px;" />
</footer>
